@charset "UTF-8";

/* 共通ここから */
html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
}

h1{
    font-weight: normal;
    font-size: 2.5rem;
}

h3{
    font-size: 1.6rem;
}

a{
    font-size: 1.4rem;
    color: #333;
}

p{
    color: #333;
    font-size: 1.6rem;
}

li{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.readmore{
    text-align: center;
}
/* 共通ここまで */

/* headerここから */
.header-title{
    padding: 16px 0;
}

@media screen and (max-width: 750px) {
    header .container{
        padding-left: 22px;
    }
}
/* headerここまで */

/* menu-wrapperここから */
.menu-wrapper{
    background-color: #333;
}

.menu-wrapper .menu-contents{
    max-width: 480px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrapper .menu-contents a{
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .menu-wrapper .container{
        padding-right: 6px;
    }

    .menu-contents li:last-of-type{
        display: none;
    }
}
/* menu-wrapperここまで */

/* pickup-wrapperここから */
.pickup-wrapper .container{
    margin-top: 44px;
}

.pickup-wrapper .flex-wrapper1{
    display: flex;
    justify-content: center;
}

.pickup-1,
.pickup-2{
    margin-right: 23.3px;
}

.pickup2-sp,
.pickup3-sp{
    display: none;
}

.pickup-wrapper p{
    font-weight: bold;
    line-height: calc(22 / 14);
    margin: 7px 0 10px 0;
}

@media screen and (max-width: 750px){
    .pickup-wrapper .container{
        margin-top: 35px;
    }

    .pickup-wrapper .flex-wrapper1{
        display: block;
    }

    .pickup-1,
    .pickup-2{
        margin-bottom: 26px;
        margin-right: 0;
    }

    .pickup1-pc{
        display: block;
    }

    .pickup2-pc,
    .pickup3-pc{
        display: none;
    } 

    .pickup2-sp,
    .pickup3-sp{
        display: block;
    }
}
/* pickup-wrapperここまで */

/* maincontents-wrapperここから */
/* main-wrapperここから */
.maincontents-wrapper .container{
    margin-top: 65px;
    margin-bottom: 80px;
}
.flex-wrapper2{
    display: flex;
    justify-content: space-between;
}

.main-wrapper{
    width: calc(780 / 1200 * 100%);
}

.main-wrapper h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: calc(28 / 24);
}

.main-info{
    margin-top: 12px;
    margin-bottom: 9px;
    font-size: 1.2rem;
}

.main-info span{
    margin-left: 20px;
    color: #333;
}

.main-wrapper img{
    width: 100%;
}

.main-wrapper p{
    font-weight: normal;
    width: calc(687 / 780 * 100%);
    margin: 5px auto 24px auto;
    line-height: calc(26 / 16);
}

.main-2,
.main-3{
    margin-top: 76px;
}

@media screen and (max-width: 750px){
    .maincontents-wrapper .container{
        margin-top: 89px;
        margin-bottom: 118px;
    }

    .flex-wrapper2{
        display: block;
    }

    .main-wrapper{
        width: initial;
    }

    .main-wrapper h2{
        line-height: calc(40 / 24);
    }

    .main-info{
        margin-top: 6px;
    }

    .main-wrapper p{
        width: calc(283 / 375 * 100%);
        margin-bottom: 22px;
        line-height: calc(27 / 16);
    }

    .main-2,
    .main-3{
        margin-top: 81px;
    }
}
/* main-wrapperここまで */

/* ------sidebarここから------ */

/* sidebar共通ここから */
.sidebar{
    width: calc(354 / 1200 * 100%);
    margin: 12px 13px 56px 0;
}

.sidebar h3{
    text-align: center;
}

.sidebar p{
font-size: 1.4rem;
}

@media screen and (max-width: 750px){
    .sidebar{
        width: initial;
        margin: 77px 0 56px 0;
    }
}
/* sidebar共通ここまで */

/* name-wrapperここまで */
.aside-image{
    text-align: center;
    margin-bottom: 27px;
}

.name-wrapper img{
    width: initial;
}

.name-wrapper h3{
    margin-bottom: 23px;
}

.name-wrapper p{
    width: calc(341 / 354 * 100%);
    margin-bottom: 52px;
    line-height: calc(25 / 14);
}

@media screen and (max-width: 750px){
    .name-wrapper p{
        width: calc(368 / 375 * 100%);
        margin-bottom: 54px;
    }
}
/* name-wrapperここまで */

/* ranking-wrapperここから */
.ranking-wrapper h3{
    margin-bottom: 30px;
}

.ranking-wrapper p{
    margin-bottom: 26px;
}

.ranking-wrapper p:last-of-type{
    margin-bottom: 56px;
}

@media screen and (max-width: 750px){
    .ranking-wrapper h3{
        margin-bottom: 27px;
    }

    .ranking-wrapper p{
        margin-bottom: 27px;
    }
}
/* ranking-wrapperここまで */

/* archive-wrapperここから */
.archive-wrapper h3{
    margin-bottom: 28px;
}

.archive-wrapper li{
    padding: 17px 0 17px 19px;
    border-top: 1px solid #777;
}

.archive-wrapper li:last-of-type{
    border-bottom: 1px solid #777;
}

.archive-wrapper a{
    text-decoration: none;
}
/* archive-wrapperここまで */

/* ------sidebarここまで------ */
/* maincontents-wrapperここまで */

/* footerここから */
footer{
    background-color: #F7F7F7;
}

.flex-wrapper3{
    display: flex;
    padding-top: 50px;
}

.about-contents{
    width: calc(345 / 1200 * 100%);
    margin-right: 81px;
}

.about-contents h3{
    margin-bottom: 26px;
}

.about-contents p{
    font-size: 1.4rem;
    margin-bottom: 13px;
    line-height: calc(24 / 14);
}

.contact {
    padding: 0px;
    margin: 0px;
}

.contact > li {
    position: relative;
    padding: 0px 0px 0px 1em;
}

.contact > li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.5em solid transparent;
    border-left: 0.6em solid #333;
    content: "";
}

.contact a{
    text-decoration: none;
}

.footer-menu{
    width: calc(358 / 1200 * 100%);
    margin-right: 54px;
}

.footer-menu h3{
    margin-bottom: 30px;
}

.footer-menu li{
    padding: 12px 0 12px 15px;
    border-top: 1px solid #777;
}

.footer-menu li:last-of-type{
    border-bottom: 1px solid #777;
}

.footer-menu a{
    text-decoration: none;
}

.twitter-contents{
    width: calc(356 / 1200 * 100%);
}

.twitter-contents h3{
    margin-bottom: 30px;
}

.tweet{
    height: 315px;
    background-color: #DEDEDE;
}

.footer-end{
    padding-top: 58px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-end p{
    font-size: 1.2rem;
}

@media screen and (max-width: 750px){
    .flex-wrapper3{
        display: block;
        padding-top: 48px;
    }

    .about-contents{
        width: initial;
        margin-right: 0;
    }

    .contact > li{
        margin-bottom: -2px;
    }

    .footer-menu{
        width: initial;
        margin-top: 46px;
        margin-bottom: 27px;
        margin-right: 0;
    }

    .footer-menu h3{
        margin-bottom: 28px;
    }

    .twitter-contents{
        width: initial;
    }
    
    .twitter-contents h3{
        margin-bottom: 29px;
    }

    .footer-end{
        padding-top: 87px;
    }
}
/* footerここまで */